.ThongBao {
    position: absolute;
    bottom: 100px;
    right: 20px;
  }
  .success-box {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    animation: fadeOut 5s;
  }
  
  @keyframes fadeOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  body{
      margin: 0;
      padding: 0;
      max-width: 1200px;
      margin: auto;
  }
  
  h1{
      font-size: 2rem;
      text-align: center;
  }
  sup{
      color: red;
  }
  .timkiem{
      display: flex;
      justify-content: end;
      height: 30px;
      align-items: center;
      padding-right: 20px;
  }
  .timkiem, .list, .input-info{
      border: 1px solid red;
  }
  .timkiem label, .input-info label{
      background-color: white;
      margin-right: 10px;
  }
  .timkiem button, .input-info button{
      background-color: red;
      color: white;
  }
  .timkiem input,.timkiem button{
      border: 1px solid black;
      margin: 0;
      outline: none;
      height: 25px;
      box-sizing: border-box;
      font-size: 12px;
  }
  .list{
      padding: 5px;
  }
  
  .list table{
      width: calc(100%/7);
      border: 2px solid black;
      width: 100%;
      text-align: center;
  }
  .list table td{
      width: calc(100%/7);
  }
  .list table th{
      width: calc(100%/7);
      color: white;
      background: red;
      box-sizing: content-box;
  }
  .input-info{
      text-align: center;
  }
  .input-info table{
      display: inline;
  }
  tr:hover{
    background: #2c3e50;
  }